# Excel & Tableau Project

# Author: Yosef Emshani - December 1st

## Aim of this project

This project aims to be the second part of the [TechMart project](https://github.com/yosefemshani/SQL-Capstone-Project/blob/main/Project.ipynb), which was previously focussed on demonstrating SQL features and implementations for given datasets. For this project, results of prior mentioned project will be now cleaned using **Microsoft Excel** as well as visualized using **Tableau**.

For that, data will firstly be prepared and clean, then visualized and finally a data report will be given.

## 1. Data Cleaning & Preparation

### 1.1 Import raw data in Excel

The following figure shows a snippet out of the entire raw dataset imported into Excel. Used datasets are mainly "*Employee_Records*" and "*Sales_Transactions*", analogously to both analyzed datasets in the [TechMart project](https://github.com/yosefemshani/SQL-Capstone-Project/blob/main/Project.ipynb). For demonstration purposes, "*Employee_Records*" data cleaning, preparation and visualization is explained in detail, while "*Sales_Transactions*" will be applied analogous.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/1_employee_records_imported.png" width="60%">

### 1.2 Data Cleaning

Using Excel's "Text to Columns" feature, this raw input can be formatted, as seen in the following screenshot.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/2_employee_records_formatted.png" width="65%">

This snippet already shows how this dataset has invalid entries, that need cleaning. In the column "*sales_performance*" different datatypes can be seen. To analyze how many different value entries exist, a **filter** can be applied to that column, showing all unique entries.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/3_employee_records_filter_applied_for_finding_different_corrupt_entries.png" width="50%">

It can be observed, that "*five thousand*" and "*nan*" entries seem to be inappropriate for a consistent data format.

Using the **Find and Replace** feature of Excel, invalid entries can be changed, e.g. "*five thousand*" can be transformed to "*5000*", as seen in the following figure.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/4_ctrl_h_find_replace.png" width="100%">

Finally, a snippet out of the cleaned dataset is visualized in the following figure.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/5_cleaned_employee_records.png" width="65%">

## 2. Data Visualization

### 2.1 Data Type Cleaning

Importing a dataset can lead to column entries being imported in a wrong data format type. This is visualized in the following figue.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/6_tableau_employee_records_missmatched_automated_sales_data.png" width="70%">

"*Sales_Performance*" has been automatically registered as a String / Text. This needs to be fixed manually.

### 2.2 Visualizing different datasets

#### 2.2.1 Employee Analysis

Analogous to the [TechMart project](https://github.com/yosefemshani/SQL-Capstone-Project/blob/main/Project.ipynb) (2.1 Employee Analysis), this dataset representing data about employees is analyzed and visualized in this subsection. However, a screenshot out of the initial [TechMart project](https://github.com/yosefemshani/SQL-Capstone-Project/blob/main/Project.ipynb) is presented in the following figure to compare table results with further visualizations.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/11_sql_code_part1.png" width="80%">

Although this SQL output gives a clear demonstration of how different store locations are ranked, while mentioning their averaged sales perforamnce as well as employee count, a visualization of this data is needed for easier understanding. This is demonstrated in the following figure.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/7_tableau_employee_records_first_result.png" width="75%">

It is clear that Chicago shows the highest sale performance. Also adding a text note filter to the Tableau visualization leads to being able to demonstrate the employee count as well, once a specific column is highlighted.

#### 2.2.2 Product Analysis

Additionally, products are analyzed, corresponding to the [TechMart project](https://github.com/yosefemshani/SQL-Capstone-Project/blob/main/Project.ipynb) (2.2 Product Analysis)

Analogously, the SQL table is visualized first for comparison in the following figure.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/8_sql_code_result_data.png" width="80%">

The general visualization of all products is demonstrated in the following figure.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/9_tableau_sql_code_visualizaion1.png" width="100%">

It can be seen, that the values of total sold quantities align with the results of the SQL calculation. Also, a descending view has been shown to further emphasize the visualization of most to least selling products.

In order to create a ranking similar to the SQL output, consisting of only the top 3 most sold products, a **Calculation Field** in Tableau is used:
RANK_UNIQUE(SUM([Quantity]), 'desc')

This calculation field is set as a filter called "*Rank in Category*" and then applied on the visualization filter field. The final result is visualized in the following figure.

<img src="https://raw.githubusercontent.com/yosefemshani/Tableau-Excel-SQL-Project/refs/heads/main/Screenshots/10_tableau_sql_code_visualization2.png" width="60%">

## 3. Data Report

This sections summarizes the given analysis and visualization for this project.

First of all, data cleaning can be realized using multiple different platforms. **Python**, **Excel**, **SQL**, etc. all offer their own benefits and disadvantages. The decision of the platform for data cleaning is based on multiple factors, such as the data size, what needs to be cleaned, etc. 

Secondly, it has been shown that visualizing data analysis results using a visualization tool, such as **Tableau**, is beneficial for companies to make data-driven decisions, since these visuals can be imported onto a simple dashboard for presenting needed data.

This fact is demonstrated in section 2.2.1 and 2.2.2., while comparing the prior table output of SQL with the Tableau visualization.

Finally, many other visualization platforms might be an alternative to Tableau, such as **Microsoft PowerBI**, which might be discussed in the following repositories.